[Unit]
Description=Startup docker java application
After=docker.service
Requires=docker.service
After=docker-mysql.service
Requires=docker-mysql.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=/bin/bash -c 'docker kill %n || true'
ExecStartPre=/bin/bash -c 'docker rm %n || true'
ExecStartPre=-/bin/bash -c 'docker pull anatolek/demo3:{{ lookup('env','BUILD_NUMBER') }}'
ExecStart=/bin/bash -c 'docker run \
  --network={{ docker_network_name }} \
  --name %n \
  -p 8080:8080 \
  -e DB_NAME={{ lookup('env','DB_NAME') }} \
  -e DB_USER={{ lookup('env','DB_USER') }} \
  -e DB_PASS={{ lookup('env','DB_PASS') }} \
  -e DB_PORT=3306 \
  -e DB_HOST={{ db_ip }} \
  anatolek/demo3:{{ lookup('env','BUILD_NUMBER') }}'
ExecStop=/bin/bash -c 'docker stop %n'
ExecStopPost=/bin/bash -c 'docker rm -f %n'

[Install]
WantedBy=multi-user.target