[Unit]
Description=MySQL Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=/bin/bash -c 'docker kill %n || true'
ExecStartPre=/bin/bash -c 'docker rm %n || true'
ExecStartPre=/bin/bash -c 'docker pull mysql:5.7.22'
ExecStart=/bin/bash -c 'docker run \
  --network={{ docker_network_name }} \
  --ip={{ db_ip }} \
  --name %n \
  -e MYSQL_ROOT_PASSWORD={{ lookup('env','DB_PASS') }} \
  -e MYSQL_DATABASE={{ lookup('env','DB_NAME') }} \
  -e MYSQL_USER={{ lookup('env','DB_USER') }} \
  -e MYSQL_PASSWORD={{ lookup('env','DB_PASS') }} \
  mysql:5.7.22'
ExecStop=/bin/bash -c 'docker stop %n'
ExecStopPost=/bin/bash -c 'docker rm -f %n'

[Install]
WantedBy=multi-user.target
